[submodule "pacbuild"]
	path = pacbuild
	url = github.com:j0057/pacbuild
[submodule "fluent-bit"]
	path = fluent-bit
	url = https://aur.archlinux.org/fluent-bit
[submodule "mrouted"]
	path = mrouted
	url = https://aur.archlinux.org/mrouted
[submodule "direnv"]
	path = direnv
	url = https://aur.archlinux.org/direnv
[submodule "vscodium-bin"]
	path = vscodium-bin
	url = https://aur.archlinux.org/vscodium-bin
[submodule "python35"]
	path = python35
	url = https://aur.archlinux.org/python35
[submodule "python36"]
	path = python36
	url = https://aur.archlinux.org/python36
[submodule "python37"]
	path = python37
	url = https://aur.archlinux.org/python37
[submodule "python38"]
	path = python38
	url = https://aur.archlinux.org/python38
