[submodule "pacbuild"]
	path = pacbuild
	url = https://github.com/j0057/pacbuild
[submodule "vswitch"]
	path = vswitch
	url = https://github.com/j0057/vswitch
[submodule "fluent-bit"]
	path = fluent-bit
	url = https://aur.archlinux.org/fluent-bit.git
[submodule "mrouted"]
	path = mrouted
	url = https://aur.archlinux.org/mrouted.git
[submodule "cni-plugin-dnsname"]
	path = cni-plugin-dnsname
	url = https://aur.archlinux.org/cni-plugin-dnsname.git
[submodule "direnv"]
	path = direnv
	url = https://aur.archlinux.org/direnv.git
[submodule "vscodium-bin"]
	path = vscodium-bin
	url = https://aur.archlinux.org/vscodium-bin.git
[submodule "python35"]
	path = python35
	url = https://aur.archlinux.org/python35.git
[submodule "python36"]
	path = python36
	url = https://aur.archlinux.org/python36.git
[submodule "python37"]
	path = python37
	url = https://aur.archlinux.org/python37.git
[submodule "python38"]
	path = python38
	url = https://aur.archlinux.org/python38.git
[submodule "minecraft-launcher"]
	path = minecraft-launcher
	url = https://aur.archlinux.org/minecraft-launcher.git
[submodule "teams"]
	path = teams
	url = https://aur.archlinux.org/teams.git
[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "apachedirectorystudio"]
	path = apachedirectorystudio
	url = https://aur.archlinux.org/apachedirectorystudio.git
[submodule "sbupdate-git"]
	path = sbupdate-git
	url = https://aur.archlinux.org/sbupdate-git.git
[submodule "azure-functions-core-tools-bin"]
	path = azure-functions-core-tools-bin
	url = https://aur.archlinux.org/azure-functions-core-tools-bin.git
[submodule "visual-studio-code-bin"]
	path = visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git
[submodule "google-earth-pro"]
	path = google-earth-pro
	url = https://aur.archlinux.org/google-earth-pro.git
[submodule "jo"]
	path = jo
	url = https://aur.archlinux.org/jo.git
[submodule "gti"]
	path = gti
	url = https://aur.archlinux.org/gti.git
[submodule "omnisharp-roslyn"]
	path = omnisharp-roslyn
	url = https://aur.archlinux.org/omnisharp-roslyn.git
[submodule "slack-desktop"]
	path = slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "brave-bin"]
	path = brave-bin
	url = https://aur.archlinux.org/brave-bin.git
[submodule "microsoft-edge-beta-bin"]
	path = microsoft-edge-beta-bin
	url = https://aur.archlinux.org/microsoft-edge-beta-bin.git
